<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all courses
    </h1>
  </div>
</div>
<a href="home">Link back to home page</a>
<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new course
    </h2>

    <form action="/insert_course" method="post">
      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="name_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="class_time_box">
          Class time
        </label>

        <input type="time" id="class_time_box" name="class_time_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="description_from_query" class="form-control">
      </div>


      <div class="form-group">
        <label for="day_of_the_week_box">
          Day of the week
        </label>

        <input type="radio" id="day_of_the_week_box" name="day_of_the_week_from_query" class="form-control" value="mon">
        <label for="mon">Monday</label>
        <input type="radio" id="day_of_the_week_box" name="day_of_the_week_from_query" class="form-control" value="tue">
        <label for="tue">Tuesday</label>
        <input type="radio" id="day_of_the_week_box" name="day_of_the_week_from_query" class="form-control" value="wed">
        <label for="wed">Wednesday</label>
        <input type="radio" id="day_of_the_week_box" name="day_of_the_week_from_query" class="form-control" value="thu">
        <label for="thu">Thursday</label>
        <input type="radio" id="day_of_the_week_box" name="day_of_the_week_from_query" class="form-control" value="fri">
        <label for="fri">Friday</label>
      </div>

      <div class="form-group">
        <label for="teacher_box">
          Teacher
        </label>

        <input type="text" id="teacher_box" name="teacher_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create course
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Class time
        </th>

        <th>
          Description
        </th>

        <th>
          User
        </th>

        <th>
          Day of the week
        </th>

        <th>
          Teacher
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.id %>
        </td>

        <td>
          <%= course.name %>
        </td>

        <td>
          <%= course.class_time %>
        </td>

        <td>
          <%= course.description %>
        </td>

        <td>
          <%= course.user_id %>
        </td>

        <td>
          <%= course.day_of_the_week %>
        </td>

        <td>
          <%= course.teacher %>
        </td>

        <td>
          <%= time_ago_in_words(course.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(course.updated_at) %> ago
        </td>

        <td>
          <%= link_to 'Delete', courses_path(course), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
